
<h1>Welcome to CSE Motors!</h1>

<div class="hero">
    <picture>
        <source media="(min-width: 1000px)" srcset="/images/vehicles/delorean.jpg">
        <source media="(min-width: 750px)" srcset="/images/vehicles/delorean.jpg">
        <img src="/images/vehicles/delorean-tn.jpg" alt="Independence Square - Accra">
    </picture>
    <section class="cta">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman Doors</p>
        <p>Fuzzy Dice</p>
        <img src="/images/site/own_today.png" alt="cta" width="120">
    </section>
    
</div>

<div class="upgrades-reviews">
    <section class="upgrades">
        <h3>Delorean Upgrades</h3>
        <div class="figs">
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="flux-cap">
                <figcaption><a href="">Flux Cap</a></figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/flame.jpg" alt="flame">
                <figcaption><a href="">Flame Decals</a></figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper-sticker">
                <figcaption><a href="">Bumper Stickers</a></figcaption>
            </figure>
            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="hub-caps">
                <figcaption><a href="">Hub Caps</a></figcaption>
            </figure>
        </div>
        
    </section>

    <section>
        <h3>DMC Delorean Reviews</h3>
        <ul class="reviews">
            <li>"So fast it's almost like travelling in time."
                (4/5)
            </li>
            <li>"Coolest ride on the road."
                (4/5)
            </li>
            <li>"I'm feeling McFly!"
                (5/5)
            </li>
            <li>"The most futuristic ride of our day."
                (4.5/5)
            </li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
</div>