/* General Styles */


/* Form Container */
form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: #333;
}

/* Labels */
label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #555;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Button */
button {
    background-color: #BEB8EB;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
}



/* Flash Message */
.flash-message {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}
