<h1><%= title %></h1>
<section>
  <%- vehicleDetail %>
</section>

<!-- Vehicle Reviews Section -->
<section class="vehicle-reviews">
  <%- include('vehicle-reviews', { vehicle: vehicle, reviews: reviews }) %>
</section>

