<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/management.css">
</head>
<body>
  
</body>
</html>

<h1><%= title %></h1>


<div class="management-page">
  <% if (messages.success && messages.success.length) { %>
    <div class="flash success">
      <ul>
        <% messages.success.forEach(msg => { %>
          <li><%= msg %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>
  
  <% if (messages.error && messages.error.length) { %>
    <div class="flash error">
      <ul>
        <% messages.error.forEach(msg => { %>
          <li><%= msg %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>
  


  <div class="action-buttons">
    <a href="/inv/add-classification">Add New Classification</a>
    <a href="/inv/add-inventory">Add New Inventory</a>
  </div>
</div>